<div class="dpy-flx jtfy-ctt-ctr flx-wp tt-aln-ctr">
    {%- if settings.social_facebook_link != blank -%}
        <a href="{{ settings.social_facebook_link }}" rel="noopener" aria-label="Facebook" class="button button--icon" >
          {% render 'icon-facebook' %}
        </a>
    {%- endif -%}
    {%- if settings.social_twitter_link != blank -%}
        <a href="{{ settings.social_twitter_link }}" rel="noopener" aria-label="Twitter" class="button button--icon" >
          {% render 'icon-twitter' %}
        </a>
    {%- endif -%}
    {%- if settings.social_youtube_link != blank -%}
        <a href="{{ settings.social_youtube_link }}" rel="noopener" aria-label="Youtube" class="button button--icon" >
          {% render 'icon-youtube' %}
        </a>
    {%- endif -%}
    {%- if settings.social_instagram_link != blank -%}
        <a href="{{ settings.social_instagram_link }}" rel="noopener" aria-label="Instagram" class="button button--icon" >
          {% render 'icon-instagram' %}
        </a>
    {%- endif -%}
    {%- if settings.social_linkedin_link != blank -%}
        <a href="{{ settings.social_linkedin_link }}" rel="noopener" aria-label="Linkedin" class="button button--icon" >
          {% render 'icon-linkedin' %}
        </a>
    {%- endif -%}
    {%- if settings.social_pinterest_link != blank -%}
        <a href="{{ settings.social_pinterest_link }}" rel="noopener" aria-label="Pinterest" class="button button--icon" >
          {% render 'icon-pinterest' %}
        </a>
    {%- endif -%}
    {%- if settings.social_vimeo_link != blank -%}
        <a href="{{ settings.social_vimeo_link }}" rel="noopener" aria-label="Vimeo" class="button button--icon" >
          {% render 'icon-vimeo' %}
        </a>
    {%- endif -%}
    {%- if settings.social_tiktok_link != blank -%}
        <a href="{{ settings.social_tiktok_link }}" rel="noopener" aria-label="Tiktok" class="button button--icon" >
          {% render 'icon-tiktok' %}
        </a>
    {%- endif -%}
    {%- if settings.social_tumblr_link != blank -%}
        <a href="{{ settings.social_tumblr_link }}" rel="noopener" aria-label="Tumblr" class="button button--icon" >
          {% render 'icon-tumblr' %}
        </a>
    {%- endif -%}
    {%- if settings.social_snapchat_link != blank -%}
        <a href="{{ settings.social_youtube_link }}" rel="noopener" aria-label="Snapchat" class="button button--icon" >
          {% render 'icon-snapchat' %}
        </a>
    {%- endif -%}
  </div>