<!-- /templates/customers/register.liquid -->

<div class="page">
	<div class="ctnr ctnr--small">
		<div class="rw">
			<div class="clm">
				<div class="head">
					<div class="container">
						<div class="head__title center-xs">
							<h1 class="section-header__title">{{ 'customer.register.title' | t }}</h1>
						</div>
					</div>
				</div>
				{% form 'create_customer' %}
					{%- if form.errors -%}
					<p class="form__message hdg-5" tabindex="-1" autofocus>
						{% render 'icon-errors' %}
						{{ 'templates.contact.form.error_heading' | t }}
					</p>
					<ul class="lt-ste-ne"> 
						{%- for field in form.errors -%}
							<li>
								<p>
									{%- if field == 'form' -%}
									{{ form.errors.messages[field] }}
								{%- else -%}
									<a href="#RegisterForm-{{ field }}">
										{{ form.errors.translated_fields[field] | capitalize }}
										{{ form.errors.messages[field] }}
									</a>
								{%- endif -%}
								</p>
							</li>
						{%- endfor -%}
					</ul>
				{%- endif -%}
				<div class="form__field">      
					<input
						type="text"
						name="customer[first_name]"
						id="RegisterForm-FirstName"
						class="field__input mgn-btm-16 wh-100pct"
						{% if form.first_name %}value="{{ form.first_name }}"{% endif %}
						autocomplete="given-name"
						placeholder="{{ 'customer.register.first_name' | t }}"
					>
					<label hidden for="RegisterForm-FirstName">
						{{ 'customer.register.first_name' | t }}
					</label>
				</div>
				<div class="form__field">
					<input
						type="text"
						name="customer[last_name]"
						id="RegisterForm-LastName"
						class="field__input mgn-btm-16 wh-100pct"
						{% if form.last_name %}value="{{ form.last_name }}"{% endif %}
						autocomplete="family-name"
						placeholder="{{ 'customer.register.last_name' | t }}"
					>
					<label hidden for="RegisterForm-LastName">
						{{ 'customer.register.last_name' | t }}
					</label>
				</div>
				<div class="form__field">      
					<input
						type="email"
						name="customer[email]"
						id="RegisterForm-email"
						class="field__input mgn-btm-16 wh-100pct"
						{% if form.email %} value="{{ form.email }}"{% endif %}
						spellcheck="false"
						autocapitalize="off"
						autocomplete="email"
						aria-required="true"
						{% if form.errors contains 'email' %}
							aria-invalid="true"
							aria-describedby="RegisterForm-email-error"
						{% endif %}
						placeholder="{{ 'customer.register.email' | t }}"
					>
					<label hidden for="RegisterForm-email">
						{{ 'customer.register.email' | t }}
					</label>
				</div>
				{%- if form.errors contains 'email' -%}
					<span id="RegisterForm-email-error" class="form__message">
						{% render 'icon-errors' %}
						{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.
					</span>
				{%- endif -%}
				<div class="form__field">     
					<input
						type="password"
						name="customer[password]"
						id="RegisterForm-password"
						class="field__input mgn-btm-16 wh-100pct"
						aria-required="true"
						{% if form.errors contains 'password' %}
							aria-invalid="true"
							aria-describedby="RegisterForm-password-error"
						{% endif %}
						placeholder="{{ 'customer.register.password' | t }}"
					>
					<label hidden for="RegisterForm-password">
						{{ 'customer.register.password' | t }}
					</label>
				</div>
				{%- if form.errors contains 'password' -%}
					<span id="RegisterForm-password-error" class="form__message">
						{% render 'icon-errors' %}
						{{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.
					</span>
				{%- endif -%}
				<button class="button button--primary button--large wh-100pct">
					{{ 'customer.register.submit' | t }}
				</button>
			{%- endform -%}
			</div>
		</div>
	</div>
</div>