<!DOCTYPE html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="{{ settings.color_primary }}" />
    <link rel="canonical" href="{{ canonical_url }}" />
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin />

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin />
    {%- endunless -%}
  

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <title>
      {{ page_title }}
      {%- if current_tags -%} &ndash; tagged "{{ current_tags | join: ', ' }}" {%- endif -%}
      {%- if current_page != 1 -%} &ndash; Page {{ current_page }} {%- endif -%}
      {%- unless page_title contains shop.name -%} &ndash; {{ shop.name }} {%- endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}" />
    {% endif %}

    {% render 'meta-tags' %}
    {% render 'style-variables' %}

    {{ content_for_header }}

    <link rel="preload" href="{{ 'layout.css' | asset_url }}" as="style" />
    <link rel="preload" href="{{ 'main.css' | asset_url }}" as="style" />
    <link rel="preload" href="{{ 'animations.css' | asset_url }}" as="style" />
    
    {{ "layout.css" | asset_url | stylesheet_tag }}
    {{ "main.css" | asset_url | stylesheet_tag }}
    {{ "animations.css" | asset_url | stylesheet_tag }}

    <noscript>
      <link rel="stylesheet" href="{{ 'no-js.css' | asset_url }}" media="all" />
    </noscript>
    {%- if settings.css_file != blank -%}
      <link rel="stylesheet" href="{{ settings.css_file | asset_url }}" media="print" onload="this.media='all'" />
    {%- endif -%}

    <script>
      var log = (arg) => console.log(arg);
      
      var docElement = document.documentElement;
      docElement.className = docElement.className.replace("no-js", "js");
      Shopify.designMode && docElement.classList.add('shopify-design-mode');

      var SHTDefer = [];
      var SHTLoad = [];

      document.addEventListener("DOMContentLoaded", function () {
        while (SHTDefer.length) SHTDefer.shift().call();
      });
     
      window.addEventListener("load", function () {
        while (SHTLoad.length) SHTLoad.shift().call();
      });
    </script>
  </head>
  <body>
    <a class="skip-to-content-link visually-hidden" href="#main-content">
      {{ "accessibility.skip_to_text" | t }}
    </a>
    {%-liquid
      section 'topbar'
      section 'header' 
    %}  
    <main id="main-content" role="main" tabindex="-1">{{ content_for_layout }}</main>
    {%-liquid   
      render 'cart-notification-panel'
      section 'footer'
    %}
    <script>
      window.shopUrl = `{{ request.origin }}`;
      window.routes = {
        root_url: "{{ routes.root_url }}",
        cart_add_url: `{{ routes.cart_add_url }}`,
        cart_change_url: `{{ routes.cart_change_url }}`,
        cart_update_url: `{{ routes.cart_update_url }}`,
        predictive_search_url: `{{ routes.predictive_search_url }}`
      };

      var SHThemeLanguage = window.SHThemeLanguage || {};
      SHThemeLanguage.cart = {
        ERROR: `{{ 'sections.cart.cart_error' | t }}`,
      };

      SHThemeLanguage.product = {
        PRODUCT_ADD_TO_CART: `{{ 'products.product.add_to_cart' | t }}`,
        PRODUCT_SOLD_OUT: `{{ 'products.product.sold_out' | t }}`,
        PRODUCT_UNAVAILABLE: `{{ 'products.product.unavailable' | t }}`,
        PRODUCT_QUANTITY_MAXIMUM_LIMIT_REACHED: `Maximum available quantity reached!`,
        MODAL_BUTTON_CLOSE: `Close`,
      };  
    </script> 
    {%- liquid 
      assign files = "header.js, lazy-loading-image.js" | split: ', '
      render 'js-loader', files: files | split: ',', type: 'inline' 
    -%}
  </body>
</html>