{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{%- liquid 
  
  assign image_width = '150, 320, 550, 750, 950, 1100, 1600'
  assign sizes = "(min-width: 1200px) calc(100vw/ITEM_PER_ROW), (min-width: 1025px) calc(100vw/ITEM_PER_ROW), (min-width: 769px) calc(100vw/ITEM_PER_ROW), calc(100vw/2)" | replace: "ITEM_PER_ROW", section.settings.item_per_row

  assign image_placeholder = 'image' | placeholder_svg_tag: 'placeholder--svg wh-100pct ht-100pct'
  assign product_placeholder = 'product-1' | placeholder_svg_tag: 'placeholder--svg wh-100pct ht-100pct'
 
  assign video_placeholder = 'lifestyle-1' | placeholder_svg_tag: 'placeholder--svg wh-100pct ht-100pct'
  assign product_title = 'sections.custom_content.blocks.product.title' | t
 
-%}
<div class="custom-content" 
style="
    --color-heading: {{ section.settings.heading_color.red }},{{ section.settings.heading_color.green }},{{ section.settings.heading_color.blue }};
    --color-text: {{ section.settings.text_color.red }}, {{ section.settings.text_color.green }}, {{ section.settings.text_color.blue }};
    --color-link: {{ section.settings.link_color.red }}, {{ section.settings.link_color.green }}, {{ section.settings.link_color.blue }};
    background-color: {{ section.settings.background_color }};
      margin: {{ section.settings.container_margin | default: 'inherit' }}; 
      padding: {{ section.settings.container_padding | default: 'inherit' }}" data-ui-component="Custom Section">
  <div class="custom-content__container {% if section.settings.container_fluid == true %} ctnr-fld {% else %}ctnr{% endif %}">
    <h2 class="section__heading custom-content__heading{% if section.settings.heading == blank %} dpy-ne{% endif %} tt-aln-ctr" style="color: {{ section.settings.heading_color | default: 'unset' }};">{{ section.settings.heading }}</h2>
    <div class="custom-content__wrapper">
      <div class="custom-content__items rw">
        {% for block in section.blocks %}
         
          {% assign block_width = "--wh-xs: 12; --wh-sm: BLOCK_WIDTH; --wh-md: BLOCK_WIDTH;" | replace: 'BLOCK_WIDTH', block.settings.width %}
          
          <div class="custom-content__item clm" style="{{ block_width }}">
            {% case block.type %}
              {% when 'image' %}
                {%- assign image_item = image_placeholder -%}
                {%- assign image_item = block.settings.image | image_url: width: block.settings.image.width | image_tag: widths: image_width, sizes: sizes, placeholder: "data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==", alt: block.settings.image.alt, class: 'js-lazy-loading-image-item wh-100pct ht-100pct ojt-ft-ctn ojt-pstn-tp pstn-asle' -%}
                <div class="block block--{{ block.type }}">
                  <div class="block__item__image {{ block.type }} pstn-rlte ovfw-hdn" style="--ratio: 50%;">
                    {% if block.settings.image_link != blank %}
                      <a href="{{ block.settings.image_link }}">
                    {% endif %}
                    {% render 'lazy-loading-image', image_item: image_item, lazy_image_loading_image_css: "no-js-hidden dpy-blk", lazy_image_loading_spinner_css: "js-lazy-loading-image-spinner aln-ctr-mde pstn-asle ptr-ne", replace_srcset: true, is_first: forloop.first %}
                    {% if block.settings.image_link != blank %}
                      </a>
                    {% endif %}
                  </div>
                </div>
              {% when 'product' %}
                {% liquid
                  assign product = nil
                  assign product = all_products[block.settings.product]
                  assign product_image = product_placeholder
                  assign product_image = product.featured_image | image_url: width: product.featured_image.width | image_tag: widths: image_width, sizes: sizes, placeholder: "data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==", alt: product.title, class: 'js-lazy-loading-image-item wh-100pct ht-100pct ojt-ft-cvr'
                %}
                <div class="block block--{{ block.type }}">
                  <div class="block__item__image">
                    <a href="{{ product.url }}" class="dpy-blk wh-100pct ht-100pct" aria-label="{{ product.title | escape }}">  
                      {% render 'lazy-loading-image', image_item: product_image, lazy_image_loading_image_css: "no-js-hidden dpy-blk pstn-rlte", lazy_image_loading_spinner_css: "js-lazy-loading-image-spinner aln-ctr-mde pstn-asle ptr-ne", replace_srcset: true, is_first: forloop.first %}      
                    </a>
                  </div>
                  <div class="block__item__content {{ block.type }}">
                    <h3 class="{{ block.type }}__title">
                      <a href="{{ product.url | default: '#' }}">{{ product.title | default: product_title }}</a>
                    </h3>
                    <div class="{{ block.type }}__price">
                      {%- liquid 
                        assign product_price = 10000 | money
                        assign product_compared_price = 20000 | money
                        if product.price != blank or product.compare_at_price != blank 
                          assign product_price = product.price | money
                          assign product_compared_price = product.compare_at_price | money
                        endif 
                      -%}
                      <span class="{{ block.type }}__price--original">
                        {{ product_price }}
                      </span>
                      <s class="{{ block.type }}__price--compared">
                        {{ product_compared_price }}
                      </s>       
                    </div>
                  </div>     
                </div>
              {% when 'custom_html' %}
                <div class="block block--{{ block.type }}">
                  <div class="block__item">
                    <div class="block__item__content {{ block.type }}">
                      {{ block.settings.html }}
                    </div>
                  </div>
                </div>
              {% when 'text' %}
                <div class="block block--{{ block.type }}">
                  <div class="block__item">
                    <div class="block__item__content {{ block.type }}">
                      {% if block.settings.title != blank %}
                        <h3 class="{{ block.type }}__title">{{ block.settings.title }}</h3>
                      {% endif %}
                      {{ block.settings.text }}
                    </div>
                  </div>
                </div>      
              {% when 'collection' %}
                {%- liquid 
                  assign collection = nil
                  assign collection = collections[block.settings.collection] 
                  assign products = collection.products
                  assign b_w_sm = 6
                  assign b_w_md = 12 | divided_by: block.settings.max_item
                
                  if block.settings.max_item <= 2
                    assign b_w_sm = b_w_md
                  endif
                -%}                   
                <div class="block block--{{ block.type }}">
                  <div class="products rw">
                    {% for product in products limit: block.settings.max_item %}
                      <div class="product__item clm" style="--wh-xs: 6;--wh-md: {{ b_w_md }};--wh-sm: {{ b_w_sm }};">
                        {% render 'card-product', product: product, show_ratings: true, item_per_row: block.settings.max_item, is_first: forloop.first %}
                      </div> 
                    {% else%}
                      {% for i in (1..block.settings.max_item) %}
                        <div class="product__item clm" style="--wh-xs: 6;--wh-md: {{ b_w_md }};--wh-sm: {{ b_w_sm }};">
                          {% render 'card-product-placeholder' %}
                        </div>
                      {% endfor %}
                    {% endfor %}
                  </div>                  
                </div>
              {% when 'video' %}
                {%- liquid 
                  assign rand = "now" | date: "%N"
                  assign video_iframe_id = "CustomContentVideoItem-" | append: rand
                -%}
                <div class="block block--{{ block.type }}">
                  <div class="block__item__content {{ block.type }}">
                    {%- if block.settings.video != blank -%}
                      <sht-lazy-loading-video class="wh-100pct dpy-blk pstn-rlte" style="padding-bottom: 56.25%;" data-video-type="youtube" data-video-id="{{ block.settings.video.id }}">
                        {%- if block.settings.video.type == 'youtube' -%}
                          <style>
                            #{{ video_iframe_id }} {
                              background-image: url(https://i.ytimg.com/vi/{{ block.settings.video.id }}/maxresdefault.jpg); 
                              background-position: center center; 
                              background-size: cover;
                            }
                            @media (max-width: 768px) {
                              #{{ video_iframe_id }} {
                                background-image: url(https://i.ytimg.com/vi/{{ block.settings.video.id }}/hqdefault.jpg);
                              }
                            }
                          </style>
                          <iframe id="{{ video_iframe_id }}" title="YouTube" class="{{ block.type }}--youtube wh-100pct ht-100pct pstn-asle" data-src="https://www.youtube.com/embed/{{ block.settings.video.id }}?playlist={{ block.settings.video.id }}" loading="lazy"></iframe> 
                        {%- else if block.settings.video.type == 'vimeo' -%}
                          <style>
                            #{{ video_iframe_id }} {
                              background-image: url(https://vumbnail.com/{{ block.settings.video.id }}.jpg); 
                              background-position: center center; 
                              background-size: cover;
                            }
                              
                            @media (max-width: 768px) {
                              #{{ video_iframe_id }} {
                                background-image: url(https://vumbnail.com/{{ block.settings.video.id }}_medium.jpg); 
                              }
                            }
                            </style>
                            <iframe id="{{ video_iframe_id }}" title="Vimeo" class="{{ block.type }}--vimeo wh-100pct ht-100pct pstn-asle" data-src="https://player.vimeo.com/video/{{ block.settings.video.id }}" loading="lazy"></iframe>
                          {%- endif -%}
                      </sht-lazy-loading-video>
                    {%- else -%}
                      {{ video_placeholder }}
                    {%- endif -%}
                  </div>
                </div>
              {% endcase %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{%- liquid
  assign files = "lazy-loading-video.js" | split: ', '
  render 'js-loader', files: files | split: ',', type: 'inline' 
-%}
{% schema %}
{
  "name": "t:sections.custom_content.name",
  "settings": [
    {
      "type": "header",
      "content": "t:general.layout.label"
    },
    {
      "type": "checkbox",
      "id": "container_fluid",
      "label": "t:general.layout.enable_fluid_layout"
    },
    {
      "type": "text",
      "id": "container_margin",
      "label": "t:general.margin.label",
      "placeholder": "10px 20px 10px 20px",
      "info": "t:general.margin.info"
    },
    {
      "type": "text",
      "id": "container_padding",
      "label": "t:general.padding.label",
      "default": "50px 0 30px",
      "placeholder": "10px 20px 10px 20px",
      "info": "t:general.padding.info"
    },
    {
      "type": "header",
      "content": "t:general.content.label"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:general.heading.label",
      "placeholder": "t:general.heading.placeholder",
      "default": "Custom Content"
    },
    {
      "type": "range",
      "id": "item_per_row",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "t:general.item_per_row.label",
      "default": 3
    },
    {
      "type": "header",
      "content": "t:general.color.content"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:general.background.label"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "t:general.heading.label"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:general.text.label"
    },
    {
      "type": "color",
      "id": "link_color",
      "label": "t:general.link.label"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.custom_content.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.custom_content.blocks.image.settings.image.label"
        },
        {
          "type": "url",
          "id": "image_link",
          "label": "t:sections.custom_content.blocks.image.settings.image_link.label"
        },
        {
          "type": "select",
          "id": "width",
          "label": "t:general.block_width.label",
          "default": "6",
          "options": [
            {
              "value": "2",
              "label": "16%"
            },
            {
              "value": "3",
              "label": "25%"
            },
            {
              "value": "4",
              "label": "33%"
            },
            {
              "value": "5",
              "label": "41%"
            },
            {
              "value": "6",
              "label": "50%"
            },
            {
              "value": "7",
              "label": "58%"
            },
            {
              "value": "8",
              "label": "66%"
            },
            {
              "value": "9",
              "label": "75%"
            },
            {
              "value": "10",
              "label": "83%"
            },
            {
              "value": "11",
              "label": "91%"
            },
            {
              "value": "12",
              "label": "100%"
            }
          ]
        }
      ]
    },
    {
      "type": "product",
      "name": "t:sections.custom_content.blocks.product.name",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "t:sections.custom_content.blocks.product.settings.product.label"
        },
        {
          "type": "select",
          "id": "width",
          "label": "t:general.block_width.label",
          "default": "6",
          "options": [
            {
              "value": "2",
              "label": "16%"
            },
            {
              "value": "3",
              "label": "25%"
            },
            {
              "value": "4",
              "label": "33%"
            },
            {
              "value": "5",
              "label": "41%"
            },
            {
              "value": "6",
              "label": "50%"
            },
            {
              "value": "7",
              "label": "58%"
            },
            {
              "value": "8",
              "label": "66%"
            },
            {
              "value": "9",
              "label": "75%"
            },
            {
              "value": "10",
              "label": "83%"
            },
            {
              "value": "11",
              "label": "91%"
            },
            {
              "value": "12",
              "label": "100%"
            }
          ]
        }
      ]
    },
    {
      "type": "custom_html",
      "name": "t:sections.custom_content.blocks.custom_html.name",
      "settings": [
        {
          "type": "html",
          "id": "html",
          "label": "t:sections.custom_content.blocks.custom_html.settings.html.label",
          "default": "<p>Description Lorem ipsum dolor sit amet, consectetur adipiscing elit seddo.</p>"
        },
        {
          "type": "select",
          "id": "width",
          "label": "t:general.block_width.label",
          "default": "6",
          "options": [
            {
              "value": "2",
              "label": "16%"
            },
            {
              "value": "3",
              "label": "25%"
            },
            {
              "value": "4",
              "label": "33%"
            },
            {
              "value": "5",
              "label": "41%"
            },
            {
              "value": "6",
              "label": "50%"
            },
            {
              "value": "7",
              "label": "58%"
            },
            {
              "value": "8",
              "label": "66%"
            },
            {
              "value": "9",
              "label": "75%"
            },
            {
              "value": "10",
              "label": "83%"
            },
            {
              "value": "11",
              "label": "91%"
            },
            {
              "value": "12",
              "label": "100%"
            }
          ]
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.custom_content.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.custom_content.blocks.text.settings.heading.label",
          "default": "Talk about your brand"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.custom_content.blocks.text.settings.text.label",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "select",
          "id": "width",
          "label": "t:general.block_width.label",
          "default": "6",
          "options": [
            {
              "value": "2",
              "label": "16%"
            },
            {
              "value": "3",
              "label": "25%"
            },
            {
              "value": "4",
              "label": "33%"
            },
            {
              "value": "5",
              "label": "41%"
            },
            {
              "value": "6",
              "label": "50%"
            },
            {
              "value": "7",
              "label": "58%"
            },
            {
              "value": "8",
              "label": "66%"
            },
            {
              "value": "9",
              "label": "75%"
            },
            {
              "value": "10",
              "label": "83%"
            },
            {
              "value": "11",
              "label": "91%"
            },
            {
              "value": "12",
              "label": "100%"
            }
          ]
        }
      ]
    },
    {
      "type": "video",
      "name": "t:sections.custom_content.blocks.video.name",
      "settings": [
        {
          "type": "video_url",
          "id": "video",
          "label": "t:sections.custom_content.blocks.video.settings.video_url.label",
          "accept": [
            "youtube",
            "vimeo"
          ],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
        },
        {
          "type": "select",
          "id": "width",
          "label": "t:general.block_width.label",
          "default": "6",
          "options": [
            {
              "value": "2",
              "label": "16%"
            },
            {
              "value": "3",
              "label": "25%"
            },
            {
              "value": "4",
              "label": "33%"
            },
            {
              "value": "5",
              "label": "41%"
            },
            {
              "value": "6",
              "label": "50%"
            },
            {
              "value": "7",
              "label": "58%"
            },
            {
              "value": "8",
              "label": "66%"
            },
            {
              "value": "9",
              "label": "75%"
            },
            {
              "value": "10",
              "label": "83%"
            },
            {
              "value": "11",
              "label": "91%"
            },
            {
              "value": "12",
              "label": "100%"
            }
          ]
        }
      ]
    },
    {
      "type": "collection",
      "name": "t:sections.custom_content.blocks.collection.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.custom_content.blocks.collection.settings.collection.label"
        },
        {
          "type": "range",
          "id": "max_item",
          "min": 1,
          "max": 4,
          "step": 1,
          "label": "t:general.max_products_to_show.label",
          "default": 3
        },
        {
          "type": "select",
          "id": "width",
          "label": "t:general.block_width.label",
          "default": "6",
          "options": [
            {
              "value": "2",
              "label": "16%"
            },
            {
              "value": "3",
              "label": "25%"
            },
            {
              "value": "4",
              "label": "33%"
            },
            {
              "value": "5",
              "label": "41%"
            },
            {
              "value": "6",
              "label": "50%"
            },
            {
              "value": "7",
              "label": "58%"
            },
            {
              "value": "8",
              "label": "66%"
            },
            {
              "value": "9",
              "label": "75%"
            },
            {
              "value": "10",
              "label": "83%"
            },
            {
              "value": "11",
              "label": "91%"
            },
            {
              "value": "12",
              "label": "100%"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.custom_content.name",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}