{%- liquid
  assign w_sm = 6
  assign w_md = 12 | divided_by: section.settings.item_per_row
  if section.settings.item_per_row <= 2
    assign w_sm = w_md
  endif

-%}
<div class="featured-collection" 
style="
        --color-heading: {{ section.settings.heading_color.red }},{{ section.settings.heading_color.green }},{{ section.settings.heading_color.blue }};
        --color-text: {{ section.settings.text_color.red }}, {{ section.settings.text_color.green }}, {{ section.settings.text_color.blue }};
        --color-link: {{ section.settings.link_color.red }}, {{ section.settings.link_color.green }}, {{ section.settings.link_color.blue }};
        background-color: {{ section.settings.background_color }};
        margin: {{ section.settings.container_margin | default: 'inherit' }}; 
        padding: {{ section.settings.container_padding | default: 'inherit' }}" 
        data-ui-component="Featured Collection Section">
  <div class="featured-collection__container {% if section.settings.container_fluid == true %}ctnr-fld{% else %}ctnr{% endif %}">
  {% if section.settings.sub_heading != blank %}
    <div class="featured-collection__sub-heading tt-aln-ctr" style="color: {{ section.settings.heading_color | default: 'unset' }};"> {{ section.settings.sub_heading }}</div>
  {% endif %}
    <h2 class="section__heading featured-collection__heading{% if section.settings.heading == blank %} dpy-ne{% endif %} tt-aln-ctr">{{ section.settings.heading }}</h2>
    <div class="featured-collection__row products rw">
      {% for product in collections[section.settings.collection].products limit: section.settings.max_item %}
        <div class="product__item clm" style="--wh-xs: 12;--wh-md: {{ w_md }};--wh-sm: {{ w_sm }}; color: rgb(var(--color-text));">
          {% render 'card-product', product: product, item_per_row: section.settings.item_per_row, is_first: forloop.first %}
        </div> 
      {% else%}
        {% for i in (1..section.settings.max_item) %}
          <div class="product__item clm" style="--wh-xs: 12;--wh-md: {{ w_md }};--wh-sm: {{ w_sm }}; color: rgb(var(--color-text));">
            {% render 'card-product-placeholder' %}
          </div>
        {% endfor %}
      {% endfor %}
    </div>
    {% if section.settings.show_view_all_button %}
        <div class="product__show-all-button tt-aln-ctr">
          <a href="{{ collections[section.settings.collection].url | default: "#" }}" class="button button--primary">
            {{ 'sections.feature_collection.view_all.title' | t }}
          </a>
        </div>
      {% endif %}
  </div>
</div>
{% schema %}
{
  "name": "t:sections.featured_collection.name",
  "settings": [
    {
      "type": "header",
      "content": "t:general.layout.label"
    },
    {
      "type": "checkbox",
      "id": "container_fluid",
      "label": "t:general.layout.enable_fluid_layout"
    },
    {
      "type": "text",
      "id": "container_margin",
      "label": "t:general.margin.label",
      "placeholder": "10px 20px 10px 20px",
      "info": "t:general.margin.info"
    },
    {
      "type": "text",
      "id": "container_padding",
      "label": "t:general.padding.label",
      "default": "50px 0 30px",
      "placeholder": "10px 20px 10px 20px",
      "info": "t:general.padding.info"
    },
    {
      "type": "header",
      "content": "t:general.content.label"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:general.heading.label",
      "placeholder": "t:general.heading.placeholder",
      "default": "Feature Collection"
    },
    {
      "type": "text",
      "id": "sub_heading",
      "label": "t:general.sub_heading.label"
    },
    {
      "id": "collection",
      "type": "collection",
      "label": "t:sections.featured_collection.settings.collection.label"
    },
    {
      "type": "range",
      "id": "item_per_row",
      "min": 2,
      "max": 6,
      "step": 1,
      "label": "t:general.item_per_row.label",
      "default": 3
    },
    {
      "type": "range",
      "id": "max_item",
      "min": 2,
      "max": 36,
      "step": 1,
      "label": "t:general.max_products_to_show.label",
      "default": 4
    },
    {
      "type": "checkbox",
      "id": "show_view_all_button",
      "label": "t:sections.featured_collection.settings.show_view_all_button.label"
    },
    {
      "type": "header",
      "content": "t:general.color.content"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:general.background.label"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "t:general.heading.label"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:general.text.label"
    },
    {
      "type": "color",
      "id": "link_color",
      "label": "t:general.link.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured_collection.name"
    }
  ]
}
{% endschema %}