{% style %}
.password-modal .modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #fff;
  visibility: hidden;
  opacity: 0;
}

.password-modal .modal {
  background: rgba(9, 12, 38, 0.8);
  backdrop-filter: blur(20px);
}

.password-modal[open] .modal {
  visibility: visible;
  opacity: 1;
}

.password-modal__content {
  max-width: 480px;
  background: #fff;
  border-radius: 5px;
  width: calc(100% - 48px);
}

.modal-dialog__content__header {
  padding: 16px 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal-dialog__content__header__title {
  font-weight: bold;
}

.modal-dialog__body {
  padding: 24px;
}
{% endstyle %}
<div class="password section" data-ui-component="Password Section">
  <div class="password__content ctnr mgn-x-auto dpy-flx flx-drtn-cln" style="--container-width: 550px; min-height: 100vh;">
    <div class="rw flx-drtn-cln flx-fill password__content">
      <div class="clm dpy-flx jtfy-ctt-ctr">
        <div class="card dpy-flx jtfy-ctt-ctr flx-drtn-cln tt-aln-ctr">
          <div class="card__cover">
            <div class="password__logo">
              {%- if section.settings.logo != blank -%}
                {{ section.settings.logo | image_url: width: 200 | image_tag: alt: shop.name, loading: 'lazy', class: 'logo mgn-btm-24' }}
              {%- else -%}
                <h1 class="hdg-1 mgn-btm-0 mgn-btm-24">{{ shop.name }}</h1>
              {%- endif -%}
            </div>
         </div>
          <div class="card__content">
            {%- if section.blocks.size > 0 -%}
              {%- for block in section.blocks -%}
                {%- case block.type -%}
                  {%- when 'heading' -%}
                    <h2 class="password__heading mgn-btm-0 mgn-btm-32">{{ block.settings.heading | escape }}</h2>
                  {%- when 'description' -%}
                    <div class="password__description mgn-btm-32">{{ block.settings.textarea }}</div>
                  {%- when 'newsletter' -%}
                    {%- form 'customer', class: 'form form--contact mgn-btm-32' -%}
                   
                      {%- if form.posted_successfully? -%}
                      <div class="form-status form-status-list form__message  dpy-flx aln-its-ctr" tabindex="-1" autofocus>
                        {% render 'icon-success', width: 14, height: 14, class: 'mgn-rt-4' %} {{ 'general.password_page.newsletter.success' | t }}
                      </div>
                      {%- else -%}
                        <input type="hidden" name="contact[tags]" value="newsletter, password">
                        <div class="rw">
                          <div class="form__field clm" style="--wh-xs: 12;">
                            <input type="email" required class="field__input wh-100pct" name="contact[email]" placeholder="{{ 'general.password_page.newsletter.email_placeholder' | t }}" aria-label="{{ 'general.password_page.newsletter.email_placeholder' | t }}">
                          </div>
                          <div class="form__field clm" style="--wh-xs: 12;">
                            <button aria-label="{{ 'general.password_page.newsletter.button_label' | t }}" type="submit" class="form__submit button button--primary button--large wh-100pct">{{ 'general.password_page.newsletter.button_label' | t }}</button>
                          </div>
                        </div>
                      {%- endif -%}
                      {%- if form.errors -%}
                        <div class="form-status form-status-list form__message  dpy-flx aln-its-ctr" tabindex="-1" autofocus>
                          {% render 'icon-errors', class: 'mgn-rt-4' %} {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
                        </div>
                      {%- endif -%}
                    {%- endform -%}
                  {%- when 'share' -%}
                    <div class="password__social df middle center">
                      <span class="mr-12 subtext">{{ block.settings.share_label }}</span>
                      {% render 'social-share' %}
                    </div>
                {%- endcase -%}
              {%- endfor -%}
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="password__footer rw dpy-flx pdg-lt-40 pdg-rt-40">
    <div class="clm password__footer--left dpy-flx aln-its-ctr jtfy-ctt-ctr tt-aln-ctr" style="--wh-xs: 12;--wh-md: 6;--wh-sm: 12;">{{ 'general.password_page.powered_by_shopify_html' | t }} <a class="mgn-lt-4" href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify" aria-label="Create your own online store with Shopify">{%- render 'icon-shopify' -%}</a></div>
    <span class="clm password__footer--right dpy-flx aln-its-ctr jtfy-ctt-ctr tt-aln-ctr" style="--wh-xs: 12;--wh-md: 6;--wh-sm: 12;">
      <sht-password-modal class="password__admin-login dpy-flx aln-its-ctr jtfy-ctt-ctr tt-aln-ctr wh-100pct">
        <details class="password-modal">
          <summary class="modal__toggle" aria-haspopup="dialog">
          <div class="modal__toggle-open dpy-flx csr-pointer">
            <span class="dpy-flx mgn-rt-12">{%- render 'icon-lock-off' -%}</span>
            {{ 'general.password_page.login_password_button' | t }}
          </div>
          </summary>
          <div class="modal__content modal dpy-flx aln-its-ctr jtfy-ctt-ctr tt-aln-ctr" role="dialog" aria-labelledby="DialogHeading"
          aria-modal="true"
          >
            <div class="password-modal__content" tabindex="-1">
              <div class="modal-dialog__content__header dpy-flx jtfy-ctt-spe-bwn aln-its-ctr">
                <h5 class="modal-dialog__content__header__title" data-type="modal-title">
                  {{ 'general.password_page.login_form_heading' | t }}
                </h5>
                <button aria-label="{{ 'accessibility.close' | t }}" type="button" class="button close button-icon" data-dismiss="modal" data-type="modal-btn-close">
                  {%- render 'icon-close' -%}
                  </button>
                </div>
                <div class="modal-dialog__body">
              {%- form 'storefront_password', class: 'password_form', id: 'modal-password' -%}
                {%- if form.errors -%}
                  <p class="alert alert-error dpy-flx">
                    <span class="icon-small icon-transparent dpy-flx mgn-rt-12" style="color: #E85434" >
                      {% render 'icon-alert-error' %}
                    </span>
                    <span>
                      {{ form.errors.messages['form'] }}
                    </span>
                  </p>
                {%- endif -%}
                <div class="form__group">
                  <input type="password" class="field__input mgn-btm-12 wh-100pct" name="password" 
                  {% if form.errors %}
                    aria-invalid="true"
                    aria-describedby="PasswordLoginForm-password-error"
                  {%- endif -%} 
                  placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" 
                  aria-label="{{ 'general.password_page.login_form_password_placeholder' | t }}" 
                  autofocus
                  required
                  >
                  <button aria-label="{{ 'general.password_page.login_form_submit' | t }}" type="submit" name="commit" class="button button--primary button--large wh-100pct">{{ 'general.password_page.login_form_submit' | t }}</button>
                </div>
              {%- endform -%}
                <small class="password__footer-text">
                  {{ "general.password_page.admin_link_html" | t }}</small>
                </div>
            </div>
          </div>
        </details>
        </sht-password-modal>      
      <span class="wh-100pct">{{ 'general.password_page.admin_link_html' | t }}</span>
    </div>
  </div>
</div>
{%- liquid
	assign files = "password-modal.js" | split: ', '
  	render 'js-loader', files: files, type: 'inline' 
-%} 
{% schema %}
{
  "name": "t:sections.main_password.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.main_password.settings.logo.label",
      "info": "t:sections.main_password.settings.logo.info"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:general.heading.label",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:general.heading.label",
          "default": "Opening soon"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:general.description.label",
      "settings": [
        {
          "type": "textarea",
          "id": "textarea",
          "label": "t:general.description.label",
          "default": "<p>Be the first to know about new collections and exclusive offers.</p>"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "t:sections.main_password.settings.blocks.newsletter.name"
    },
    {
      "type": "share",
      "name": "t:general.blocks.share.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:general.blocks.share.name",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:general.blocks.share.settings.paragraph_1.content"
        },
        {
          "type": "paragraph",
          "content": "t:general.blocks.share.settings.paragraph_2.content"
        }
      ]
    }
  ]
}
{% endschema %}