{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{%- liquid
  assign product_placeholder = 'product-1' | placeholder_svg_tag: 'placeholder--svg wh-100pct ht-100pct'
  assign article_placeholder = 'image' | placeholder_svg_tag: 'placeholder--svg wh-100pct ht-100pct'

  assign w_sm = 6
  assign w_md = 12 | divided_by: section.settings.item_per_row
  if section.settings.item_per_row <= 2
    assign w_sm = w_md
  endif
-%}

<div class="main-search" data-ui-component="Main Search Section">
  <div class="main-search__container ctnr">
    <h1 class="main-search__heading main-cart__heading--primary tt-aln-ctr"> {{ 'search.title' | t }}</h1>
    <form action="{{ routes.search_url }}" method="get" role="search" class="form-search">
      <div class="field dpy-flx">
        <input class="form-search__input field__input wh-100pct" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'search.search' | t }}">
        <input name="options[prefix]" type="hidden" value="last">            
        <button type="submit" class="form-search__button button button--primary" aria-label="{{ 'search.search' | t }}">
          {%- render 'icon-search' -%}
        </button>
      </div>
    </form>
    <p role="status">
      {%- if search.performed -%}
        {%- if search.results_count > 0 -%} 
          {{ 'search.has_results' | t: terms: search.terms }}
        {%- endif -%}
        {%- if search.results_count == 0 and search.filters == empty -%}        
          {{ 'search.no_results' | t: terms: search.terms }}
        {%- endif -%} 
      {%- endif -%}
    </p>
    {%- if search.performed -%}
      <div id="ProductGridContainer" class="main-search__items">
        {%- if search.results.size > 0 -%}
          {% paginate search.results by 24 %}
            <div class="main-search__row rw">
              {%- for item in search.results -%}
                <div class="main-search__items main-search__items__item clm" style="--wh-xs: 12;--wh-md: {{ w_md }};--wh-sm: {{ w_sm }};">
                  {%- case item.object_type -%}
                    {%- when 'product' -%}
                      {% liquid
                        assign product_image = product_placeholder
                        assign product_image = item.featured_image | image_url: width: item.featured_image.width | image_tag: widths: '350, 550, 750, 1024, 1100', sizes: "(max-width: 768px) calc(100vw/4)", placeholder: "data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==", alt: item.title, class: 'js-lazy-loading-image-item wh-100pct ht-100pct ojt-ft-ctn ojt-pstn-tp pstn-asle'
                      %}
                      <div class="product">
                        <div class="product__item__image pstn-rlte ovfw-hdn mgn-btm-20" style="--ratio: 100%;">
                          <a href="{{ item.url }}" class="dpy-blk wh-100pct ht-100pct" aria-label="{{ item.title | escape }}">
                            {% render 'lazy-loading-image', image_item: product_image, lazy_image_loading_image_css: "no-js-hidden dpy-blk", lazy_image_loading_spinner_css: "js-lazy-loading-image-spinner aln-ctr-mde pstn-asle ptr-ne", replace_srcset: true, is_first: forloop.first %}                 
                          </a>
                        </div>
                        <div class="product__item__content tt-aln-ctr">
                          <h3 class="hdg-6">
                            <a href="{{ item.url | default: '#' }}">{{ item.title | default: product_title }}</a>
                          </h3>
                          {%- if section.settings.show_vendor -%}
                            <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
                            <div class="product__item__vendor">{{ item.vendor }}</div>
                          {%- endif -%}
                          <div class="product__item__rating">
                            {%- if section.settings.show_rating and item.metafields.reviews.rating.value != blank -%}
                              <span class="rating-text caption">
                                <span hidden>{{ item.metafields.reviews.rating.value }} / {{ item.metafields.reviews.rating.value.scale_max }}</span>
                              </span>
                              <span class="rating-count caption">
                                <span aria-hidden="true">({{ item.metafields.reviews.rating_count }})</span>
                                <span class="visually-hidden">{{ item.metafields.reviews.rating_count }} {{ "accessibility.total_reviews" | t }}</span>
                              </span>
                            {%- endif -%}
                          </div>
                          <div class="product__item__price-container">
                            {%- liquid 
                              assign product_price = 10000 | money
                              assign product_compared_price = 20000 | money
                              if item.price != blank or item.compare_at_price != blank 
                                assign product_price = item.price | money
                                assign product_compared_price = product.compare_at_price | money
                              endif 
                            -%}
                            <span class="product__item__price product__item__price--original">
                              {{ product_price }}
                            </span>
                            <s class="product__item__price product__item__price--compared">
                              {{ product_compared_price }}
                            </s>       
                          </div>
                        </div>
                      </div>
                    {%- when 'article' -%}
                      {%- liquid
                        assign article_image = article_placeholder
                        assign article_image = item.image.src | image_url: width: item.image.width | image_tag: widths: '350, 550, 750, 1024, 1100', sizes: "(max-width: 768px) calc(100vw/4)", placeholder: "data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==", alt: item.title, class: 'js-lazy-loading-image-item wh-100pct ht-100pct ojt-ft-ctn pstn-asle'
                      -%}
                      <div class="article">
                        <div class="article__item__image pstn-rlte ovfw-hdn mgn-btm-20" style="--ratio: 100%;">
                          <a href="{{ item.url }}" class="dpy-blk wh-100pct ht-100pct" aria-label="{{ item.title | escape }}">
                            {% render 'lazy-loading-image', image_item: article_image, lazy_image_loading_image_css: "no-js-hidden dpy-blk", lazy_image_loading_spinner_css: "js-lazy-loading-image-spinner aln-ctr-mde pstn-asle ptr-ne", replace_srcset: true, is_first: forloop.first %} 
                          </a>
                        </div>
                        <div class="article__info tt-aln-ctr">
                          <h3 class="article__info__title hdg-6">
                            <a href="{{ item.url }}">{{ item.title | escape }}</a>
                          </h3>
                          <div class="article__sub-info">
                            <span class="article__author">
                              {{ 'search.article.by_author' | t: author: item.author }}
                            </span>
                            <span class="article__published_at">
                              {{ 'search.article.on_date' | t }} {{ item.published_at | time_tag: format: 'date' }}
                            </span>
                          </div>
                        </div>
                      </div>
                    {%- when 'page' -%}
                      <div class="page dpy-flx aln-its-ctr jtfy-ctt-ctr ht-100pct ratio color-grey-background" style="--ratio-percent: 100%;">
                        <div class="page__item">
                          <h3 class="page__item__title tt-aln-ctr hdg-6">
                              {{ item.title | link_to: item.url }}
                          </h3>
                        </div>
                      </div>
                  {%- endcase -%}
                </div>
              {%- endfor -%}
            </div>
            {% render 'pagination', paginate: paginate %}
          {% endpaginate %} 
        {%- endif -%}
      </div>
    {%- endif -%}
  </div>
</div>
{% schema %}
{
  "name": "t:sections.main_search.name",
  "class": "main-section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main_search.settings.header_product_result_item.content"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main_search.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main_search.settings.show_rating.label",
      "info": "t:sections.main_search.settings.show_rating.info"
    },
    {
      "type": "range",
      "id": "item_per_row",
      "min": 2,
      "max": 6,
      "step": 1,
      "label": "t:general.item_per_row.label",
      "default": 3
    }
  ]
}
{% endschema %}